.x-tabbar.x-docked-bottom .x-tab img.icon-tabpanel-home {
        -webkit-mask-box-image: url('../img/tabicons/home.png');
		}

.x-tab span {
 font-size: 11px;
}
		
#yw-forecast{clear:both;position:relative;width:100%;min-height:190px;height:14.6154em;*height:14.2632em;margin-bottom:15px;
/*
background:#CCE1FF url(http://l.yimg.com/a/i/us/nws/weather/crntcondbg_day.gif) repeat-x;
border:1px solid #5182ce;border-left:none;border-right:none;
*/
}

.loading {
  background: rgba(0,0,0,.3) url(../img/loading.gif) center center no-repeat;
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;  
  -webkit-border-radius: .5em;
  color: #fff;
  text-shadow: #000 0 1px 1px;
  text-align: center;
  padding-top: 8em;
  font-weight: bold;
}

.customcontrol {
    border: 1px solid #F7F7F7;
    width: 78px;
    height: 80px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-top: 1px solid white;
    display: inline-block;
    vertical-align: top;
}

.customcontrol:nth-child(2n)  {
    margin-right: 4px;
    margin-bottom: 5px;	
}

.customcontrol .device {
    font-size: 80%;
    display: block;
    position: relative;
	width: 200%;
	text-align: center;	
}

.customcontrol:nth-child(2n) .device  {
    display: none;
}


.customcontrol:nth-child(2n) .control  {
    margin-top: 18px;
}

.customcontrol .control {	
    position: relative;
	text-align: center;
	top: 20px;
	vertical-align: middle;	
}